extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th movieName
						th movieDirector
						th movieCountry
						th movieYear
						th show
						th update
						th delete
				tbody
					each item in movies
						tr(class="item-id-#{item._id}")
							td #{item.title}
							td #{item.director}
							td #{item.country}
							td #{item.year}
							td: a(target="_blank", href="../movie/#{item._id}") chakan
							td: a(target="_blank", href="../admin/update/#{item._id}") update
							td
								button.btn.btn-danger.del(type="button", data-id="#{item._id}") delete


